.right-pane {
  flex-grow: 1;
  background-color: darkorchid;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-header {
  height: 90px;
  width: 95%;
  text-align: center;
  display: flex;
  align-items: center;
}

.chat-window {
  background-color: #ffffff;
  height: 65%;
  width: 95%;
  padding: 0 0;
}

.footer {
  flex-grow: 1;
  width: 95%;
  margin-top: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer > textarea {
  height: 110px;
  resize: none;
}

.footer > textarea,
.footer > button {
  width: 98%;
  margin: 8px 0 8px 0;
}

.footer > button {
  flex-grow: 1;
}
