.QRCode img {
  height: 100%;
  width: 100%;
  /* padding: 0 50px 50px 50px; */
}

.qrcode-wrapper {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.qrcode-wrapper button {
  font-size: 2em;
}
