@font-face {
  font-family: baby-block;
  src: url(/fonts/baby-blocks.ttf) format("truetype");
}

@font-face {
  font-family: pixelmix;
  src: url(/fonts/pixelmix.ttf) format("truetype");
}

@font-face {
  font-family: Fipps-Regular;
  src: url(/fonts/Fipps-Regular.otf);
}
@font-face {
  font-family: Zpix;
  src: url(/fonts/Zpix.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: Zpix;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
